doctype html
html
  head
    title= 'Rockin Robot'
    link(rel="stylesheet", href='min/metro-bootstrap.min.css')
    link(rel="stylesheet", href="min/iconFont.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='min/metro.min.js')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="docs/js/jquery/jquery.min.js")
    script(src="docs/js/jquery/jquery.widget.min.js")
    script(src='js/songButton.js')

  <body class="metro">
  block content 


