extends layout
block sidebar
  .sidebar
    h1 About Rockin Robot
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
block content
  h1= title
  p Please click on a song to play!
      //-#navcontainer
    table  
      tr
        each song in songs
          td
            

            img(src= "images/"+song.img id=song.sindex  height="100" width="100") 
            p #{song.sname}
            p by: #{song.sartist}

