doctype html
html
  head
    title= 'Acoustronic Guitar'
    link(rel="stylesheet", href='Metro-UI-CSS-master/min/metro-bootstrap.min.css')
    link(rel="stylesheet", href="Metro-UI-CSS-master/min/iconFont.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="Metro-UI-CSS-master/docs/js/jquery/jquery.min.js")
    script(src="Metro-UI-CSS-master/docs/js/jquery/jquery.widget.min.js")
    
    script(src='Metro-UI-CSS-master/min/metro.min.js')
    script(src='js/songButton.js')

  <body class="metro">
  block content 


