doctype html
html
  head
    title= 'Rockin Robot'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content 


script(src="//code.jquery.com/jquery-1.11.0.min.js")
script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
script(src='js/songButton.js')